<%= form_for(@massage) do |f| %>
  <% if @massage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@massage.errors.count, "error") %> prohibited this massage from being saved:</h2>

      <ul>
      <% @massage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :signature %><br>
    <%= f.text_field :signature %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
