<p id="notice"><%= notice %></p>

<h1>Listing Massages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Signature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @massages.each do |massage| %>
      <tr>
        <td><%= massage.title %></td>
        <td><%= massage.body %></td>
        <td><%= massage.signature %></td>
        <td><%= link_to 'Show', massage %></td>
        <td><%= link_to 'Edit', edit_massage_path(massage) %></td>
        <td><%= link_to 'Destroy', massage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Massage', new_massage_path %>
